<!-- /sections/section-hero.liquid -->

{%- assign scroll_class = '' -%}
{% if section.settings.height == 'use_screen_full' %}
  {%- assign scroll_class = 'has-scroll-arrow' -%}
{%- endif -%}

<div class="section--image fade-in-child js-overflow-container {{ scroll_class }}"
  data-section-id="{{ section.id }}"
  data-section-type="hero"
  {% if section.settings.width == "wrapper--none" and section.settings.padding_top == 0 %} data-overlay-header {% endif %}
  style="
  --PT: {{ section.settings.padding_top }}px;
  --PB: {{ section.settings.padding_bottom }}px;
  --CONTENT-WIDTH: {{ section.settings.content_width }}px;">
  <div class="{{ section.settings.width }} section-padding">
    <div class="section__inner hero__split">
      <div class="hero__content__wrapper {{ section.settings.text_align }}">
        <div class="hero__content {{ section.settings.color_bg }} js-overflow-content">
          {%- assign animation_anchor = "[data-section-id='" | append: section.id | append: "']" -%}

          <div class="text__standard {{ section.settings.text_color }} {% if section.settings.enable_overlay_text %} backdrop--hero{% endif %}" {% if section.settings.enable_overlay_text %} style="--bg: {{ section.settings.overlay_color }}; --opacity: {{ section.settings.overlay_opacity | times: 0.01 }};"{% endif %}>
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'kicker' %}
                  <div class="hero__kicker heading-size-{{ block.settings.text_size }}"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="{{ forloop.index }}">
                    {{ block.settings.kicker }}
                  </div>

                {% when 'heading' %}
                  <div class="hero__title heading-size-{{ block.settings.text_size }}"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="{{ forloop.index }}">
                    {{ block.settings.title }}
                  </div>

                {% when 'text' %}
                  <div class="hero__text heading-size-{{ block.settings.text_size }}"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="{{ forloop.index }}">
                    {{ block.settings.richtext }}
                  </div>

                {% when 'button' %}
                  <div class="hero__buttons"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="{{ forloop.index }}">
                    {% if block.settings.link_text_1 != blank %}
                      <a href="{{ block.settings.link_1 }}" class="{{ block.settings.button_style_1 }} {{ block.settings.button_size_1 }} {{ block.settings.button_color_1 }}">
                        {{ block.settings.link_text_1 }}
                      </a>
                    {% endif %}
                    {% if block.settings.link_text_2 != blank %}
                      <a href="{{ block.settings.link_2 }}" class="{{ block.settings.button_style_2 }} {{ block.settings.button_size_2 }} {{ block.settings.button_color_2 }}">
                        {{ block.settings.link_text_2 }}
                      </a>
                    {% endif %}
                    {% if block.settings.link_text_3 != blank %}
                      <a href="{{ block.settings.link_3 }}" class="{{ block.settings.button_style_3 }} {{ block.settings.button_size_3 }} {{ block.settings.button_color_3 }}">
                        {{ block.settings.link_text_3 }}
                      </a>
                    {% endif %}
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- Product Image -->
      <div class="hero__image__wrapper">
        {% if section.settings.image %}
          <div class="hero__image">
            {%- assign wh_ratio = section.settings.image.aspect_ratio | default: 1 -%}
            {% render 'image', 
              img_object: section.settings.image,
              wh_ratio: wh_ratio,
              alt: section.settings.image.alt | default: 'Hero Image',
              loading: 'eager'
            %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Section height",
      "default": "use_screen_two_thirds",
      "options": [
        { "value": "use_screen_full", "label": "Full screen height"},
        { "value": "use_screen_three_quarters", "label": "Three quarters of screen height"},
        { "value": "use_screen_two_thirds", "label": "Two thirds of screen height"},
        { "value": "use_screen_one_half", "label": "One half of screen height"}
      ]
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "default": 15,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "enable_overlay_text",
      "label": "Enable text overlay backdrop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "preload_image",
      "label": "Preload hero image",
      "default": true
    },
    {
      "type": "range",
      "id": "content_width",
      "label": "Content width",
      "default": 2000,
      "min": 1000,
      "max": 2000,
      "step": 100,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "align--middle-center",
      "options": [
        { "value": "align--top-left", "label": "Top left"},
        { "value": "align--top-center", "label": "Top center"},
        { "value": "align--top-right", "label": "Top right"},
        { "value": "align--middle-left", "label": "Middle left"},
        { "value": "align--middle-center", "label": "Middle center"},
        { "value": "align--middle-right", "label": "Middle right"},
        { "value": "align--bottom-left", "label": "Bottom left"},
        { "value": "align--bottom-center", "label": "Bottom center"},
        { "value": "align--bottom-right", "label": "Bottom right"}
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text--white",
      "options": [
        { "value": "text--neutral", "label": "Normal color"},
        { "value": "text--white", "label": "White"},
        { "value": "text--primary", "label": "Primary accent"},
        { "value": "text--secondary", "label": "Secondary accent"},
        { "value": "text--black", "label": "Black"}
      ]
    },
    {
      "type": "select",
      "id": "color_bg",
      "label": "Background color",
      "default": "hero__content--transparent",
      "options": [
        { "value": "hero__content--transparent", "label": "None"},
        { "value": "hero__content--white", "label": "White"},
        { "value": "hero__content--primary", "label": "Primary accent"},
        { "value": "hero__content--secondary", "label": "Secondary accent"}
      ]
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper--none",
      "options": [
        { "value": "wrapper--none", "label": "Full width"},
        { "value": "wrapper", "label": "Normal"},
        { "value": "wrapper--narrow", "label": "Narrow"}
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "kicker",
      "name": "Kicker text",
      "settings": [
        {
          "type": "richtext",
          "id": "kicker",
          "label": "Text",
          "default": "<p>Introducing</p>"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "default": 3,
          "min": 1,
          "max": 15,
          "step": 1
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Heading",
          "default": "<p>Hero heading</p>"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "default": 11,
          "min": 1,
          "max": 15,
          "step": 1
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Text",
          "default": "<p>Share information about your brand</p>"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "default": 6,
          "min": 1,
          "max": 15,
          "step": 1
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "settings": [
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "link_text_1",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "URL"
        },
        {
          "type": "select",
          "id": "button_size_1",
          "label": "Size",
          "default": "btn--long",
          "options": [
            { "value": "btn--small", "label": "Small"},
            { "value": "btn--medium", "label": "Medium"},
            { "value": "btn--large", "label": "Large"},
            { "value": "btn--long", "label": "Long"}
          ]
        },
        {
          "type": "select",
          "id": "button_style_1",
          "label": "Style",
          "default": "btn",
          "options": [
            { "value": "btn", "label": "Solid"},
            { "value": "btn--outline", "label": "Outline"},
            { "value": "btn--text", "label": "Text"},
            { "value": "btn-text-thick-line", "label": "Text with thick line"}
          ]
        },
        {
          "type": "select",
          "id": "button_color_1",
          "label": "Color",
          "default": "btn--white",
          "options": [
            { "value": "btn--primary", "label": "Primary accent"},
            { "value": "btn--secondary", "label": "Secondary accent"},
            { "value": "btn--neutral", "label": "Text color"},
            { "value": "btn--black", "label": "Black"},
            { "value": "btn--white", "label": "White"}
          ]
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "link_text_2",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "URL"
        },
        {
          "type": "select",
          "id": "button_size_2",
          "label": "Size",
          "default": "btn--long",
          "options": [
            { "value": "btn--small", "label": "Small"},
            { "value": "btn--medium", "label": "Medium"},
            { "value": "btn--large", "label": "Large"},
            { "value": "btn--long", "label": "Long"}
          ]
        },
        {
          "type": "select",
          "id": "button_style_2",
          "label": "Style",
          "default": "btn-text-thick-line",
          "options": [
            { "value": "btn", "label": "Solid"},
            { "value": "btn--outline", "label": "Outline"},
            { "value": "btn--text", "label": "Text"},
            { "value": "btn-text-thick-line", "label": "Text with thick line"}
          ]
        },
        {
          "type": "select",
          "id": "button_color_2",
          "label": "Color",
          "default": "btn--neutral",
          "options": [
            { "value": "btn--primary", "label": "Primary accent"},
            { "value": "btn--secondary", "label": "Secondary accent"},
            { "value": "btn--neutral", "label": "Text color"},
            { "value": "btn--black", "label": "Black"},
            { "value": "btn--white", "label": "White"}
          ]
        },
        {
          "type": "header",
          "content": "Button 3"
        },
        {
          "type": "text",
          "id": "link_text_3",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "URL"
        },
        {
          "type": "select",
          "id": "button_size_3",
          "label": "Size",
          "default": "btn--long",
          "options": [
            { "value": "btn--small", "label": "Small"},
            { "value": "btn--medium", "label": "Medium"},
            { "value": "btn--large", "label": "Large"},
            { "value": "btn--long", "label": "Long"}
          ]
        },
        {
          "type": "select",
          "id": "button_style_3",
          "label": "Style",
          "default": "btn-text-thick-line",
          "options": [
            { "value": "btn", "label": "Solid"},
            { "value": "btn--outline", "label": "Outline"},
            { "value": "btn--text", "label": "Text"},
            { "value": "btn-text-thick-line", "label": "Text with thick line"}
          ]
        },
        {
          "type": "select",
          "id": "button_color_3",
          "label": "Color",
          "default": "btn--white",
          "options": [
            { "value": "btn--primary", "label": "Primary accent"},
            { "value": "btn--secondary", "label": "Secondary accent"},
            { "value": "btn--neutral", "label": "Text color"},
            { "value": "btn--black", "label": "Black"},
            { "value": "btn--white", "label": "White"}
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Banner",
      "category": "Image",
      "blocks": [
        {
          "type": "kicker"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
.hero__split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.hero__content {
  padding: 2rem;
}

.hero__buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.hero__kicker {
  margin-bottom: 1rem;
}

.hero__title {
  margin: 1rem 0;
}

.hero__text {
  margin: 1rem 0;
}

.hero__image__wrapper {
  position: relative;
  height: 100%;
}

.hero__image {
  width: 100%;
  height: 100%;
}

.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .hero__split {
    grid-template-columns: 1fr;
  }
  
  .hero__buttons {
    justify-content: center;
  }
}
</style>
